.component {
  border-bottom: 1px solid hsla(229, 8%, 60%, 0.6);
  border-top: 1px solid hsla(229, 8%, 60%, 0.6);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.content {
  line-height: 1.5rem;
  color: hsl(229, 8%, 60%);
  margin-top: 1.5rem;
  transition: 2s ease-in;
}
.label{
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label svg{
    margin-right: 0.5rem;
    transition: 1s;
}
.label h4{
    font-weight: 400;
    color: hsl(229, 31%, 21%);
}
.label h4:hover{
    color: hsl(0, 94%, 66%);
}
.faq-comp{
    padding: 1.5rem;
}
.faq-comp:first-child{
    border-top: none;
}
.content-cont{
    height: 0;
    overflow: hidden;
    transition: 1s;
}
.rotate{
    transform:rotateZ(180deg);
}
.info-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
@media screen and (min-width: 728px) {
    .faq-comp:first-child{
        border-top: 1px solid hsla(229, 8%, 60%, 0.6);
    }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .label{
    font-size: 1.2rem;
}
.component{
    width: 65%;
}
.faq-comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-btn{
    width: 100%;
}
}
@media screen and (min-width: 998px) {
    .component{
        width: 50%;
    }
}
