footer {
  background: hsl(229, 31%, 21%);
}
footer a,
footer i {
  color: #fff;
}
.f-social-links a {
  font-size: 1.5rem;
}
.footer{
    padding: 2rem;
  }
.footer-img, .footer-links{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.f-alinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.f-alinks a{
  margin-top: 1rem;
}
.f-social-links{
  margin-top: 2rem;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 728px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .footer{
    padding: 3rem;
    display: flex;
    align-items: center;
  }
  .footer-img {
    width: 25%;
  }
  .footer-links{
    display: flex;
    align-items: center;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
  }
  .f-social-links a{
    margin-left: 2rem;
    font-size: 1.2rem;
  }
  .f-social-links{
    margin-top: 0;
    display: block;
  }
  .f-alinks{
    display: block;
    margin-top: 0;
  }
  .f-alinks a{
    margin-left: 2rem;
    margin-top: 0;
  }
  .footer a:hover, .f-social-links a:hover{
    color: hsl(0, 94%, 66%);
  }
}
@media screen and (min-width: 998px) {
  .footer-img {
    width: 20%;
  }
  .footer-links{
    width: 80%;
  }
    .footer{
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .f-alinks a{
      margin-left: 5rem;
    }
}
