
a{
  text-decoration: none;
}
.desktop{
  display: none;
}
.shorten{
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (min-width: 728px) {
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
}
@media screen and (min-width: 998px) {

}