
a{
  text-decoration: none;
}
.desktop{
  display: none;
}
.shorten{
  height: 100vh;
  overflow-y: hidden;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: hsl(220, 16%, 96%);
}

@media screen and (min-width: 728px) {
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
}
@media screen and (min-width: 998px) {

}